* {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body {
    margin: 0%;
}

main {
    margin: 0 0 0% 0;
}

.main-header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-bottom: 0;
}

.main-header h1 {
    margin-left: 5%;
    font-size: xxx-large;
    color: aqua;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin: 1%;
    font-size: medium;
}

nav ul li a {
    color: white;
}

nav ul li a:hover {
    color: aqua;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul li {
    margin: 5%;
}

section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2%;
    justify-content: space-between;
}

.top-background img {
    max-height: 300px;
    overflow: hidden;
    margin-top: 0;
}

.top-background h2 {
    position: absolute;
    top: 40%;
    right: 1%;
    border: solid black;
    background-color: aqua;
    width: fit-content;
    padding: 2%;
}

section header {
    width: 30%;
    padding: 0 2% 0 0%;
    text-align: right;
    border-right: solid black;
    font-size: 60px;
}

.about-me p {
    width: 30%;
    margin-top: 0%;
}

.about-me img {
    width: 30%;
    height: auto;
    padding-right: 1%;
}

.sample-work {
    width: 65%;
    padding-right: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: 50%;
}

.sample-work div {
    border: solid gray;
    border-width: 2pt;
    height: 30%;
}

.sample-work-large {
    position: relative;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.sample-work-large h3 {
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid black;
    background-color: aqua;
    width: fit-content;
    padding: 2%;
    margin: 0;
}

.sample-work-large img {
    width: 100%;
    margin: 0;
    display: block;
}

.sample-work-small {
    position: relative;
    margin-top: 2%;
    width: 48%;
    height: 20%;
    overflow: hidden;
}

.sample-work-small h3 {
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid black;
    background-color: aqua;
    width: fit-content;
    padding: 2%;
    margin: 0;
}

.sample-work-small img {
    width: 100%;
    display: block;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 65%;
}

.contact-links ul li {
    text-align: center;
    margin: 1%;
}

@media screen and (max-width: 576px) {

    .main-header h1 {
        margin-left: 0;
    }
    
    section {
        border: solid black;
        margin-bottom: 3%;
        flex-direction: column;
    }

    section header {
        border: solid black;
        position: relative;
        margin: -2% 1% 1% 1%;
        background-color: white;
        padding: 0 2% 0 2%;
        font-size: 30px;
        text-align: center;
    }
    
    body header {
        flex-wrap: wrap;
    }

    body header h1 {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 0;
    }

    .about-me img {
        width: 100%;
    }

    .about-me p {
        width: 100%;
        margin-top: 0;
    }

    .sample-work {
        width: 100%;
        margin-bottom: 2%;
    }    
    .sample-work-large {
        width: 100%;
    }

    .sample-work-small img {
        width: 100%;
    }

    .contact-links {
        width: 100%;
    }

    .contact-links ul {
        margin-top: 0%;
    }

    .contact-links ul li {
        width: fit-content;
    }

}