* {
    box-sizing: border-box;
    width: 100%;
    /* border: red solid; */
  }

body {
    margin: 0%;
}

main {
    margin: 2% 0 2% 0;
}

header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;    
}

header h1 {
    margin-left: 2%;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin: 1%;
}

nav ul li a {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul li {
    margin: 5%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}

.about-me > * {
    margin: 1%;
}

.about-me img {
    width: 40%;
    height: auto;
}

.sample-work-large {
    position: relative;
}

.sample-work-large h3 {
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid black;
    background-color: aqua;
    width: fit-content;
    padding: 2%;
}

.sample-work-large img {
    width: 30%;
}

.sample-work-small {
    position: relative;
}

.sample-work-small h3 {
    position: absolute;
    top: 5%;
    left: 5%;
    border: solid black;
    background-color: aqua;
    width: fit-content;
    padding: 2%;
}

.sample-work-small img {
    width: 30%;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid red;
}

.contact-links ul li {
    text-align: center;
    margin: 1%;
}

@media screen and (max-width: 576px) {

    header {
        flex-wrap: wrap;
    }

    header h1 {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 0;
    }

    .about-me img {
        width: 100%;
    }

    .sample-work-large img {
        width: 100%;
    }

    .sample-work-small img {
        width: 100%;
    }

    .contact-links ul {
        margin-top: 0%;
    }

}