* {
    box-sizing: border-box;
    width: 100%;
    /* border: red solid; */
  }

body {
    margin: 0%;
}

main {
    margin: 2% 0 2% 0;
}

header {
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;    
}

header h1 {
    margin-left: 2%;
}

nav ul {
    display: flex;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin: 1%;
}

nav ul li a {
    color: white;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul li {
    margin: 5%;
}

.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0%;
}

.about-me > * {
    margin: 1%;
}

.about-me img {
    height: auto;
}

.contact-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: solid red;
}

.contact-links ul li {
    text-align: center;
    margin: 1%;
}

@media screen and (max-width: 576px) {

    header {
        flex-wrap: wrap;
    }

    header h1 {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 0;
    }


}